body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 50px;
  background-color: rgb(193, 154, 239);
  margin-top: 80px;
}

.offscreen {
  position: absolute;
}

.login {
  font-size: smaller;
  font-family: sans-serif;
  font-weight: 450;
}

.search input:focus {
  outline: none;
}


.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 40px;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-left: 280px;
  margin-right: 500px;
  margin-top: 15px;
  align-items: center;
}


.notes
{
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-style: groove;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}


.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,
      minmax(250px, 1fr));
  word-break: break-all;
  margin-top: 100px;
  margin-left: 280px;
}

.option
{
  justify-content: end;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  display: flex;
}

.dropdown
{
  background-color:transparent;
  height: 90px;
  width: 80px;
  display: block;
  margin-top: 40px;
  border-style: groove;
  position:fixed;
  font-family: sans-serif;
  cursor: pointer;
}

p.hover
{
  background-color: aqua;
}

.trash
{
  background-color: white;
  margin-left: 500px;
}


.addnote
{
  position: absolute;
  display: flex;
  margin-left: 230px;
  margin-top: 40px;
}

.addnote input:focus {
  outline: none;
  background-color: transparent;
}

.addnote input
{
  width: 500px;
  margin-left: 325px;
  border: none;
  background-color:rgb(231, 228, 228);
  height: 40px;
  border-radius: 5px;
  shape-outside: -moz-linear-gradient();
}

.addnote textarea
{
  width: 500px;
  margin-left: 325px;
  border: none;
  background-color:rgb(231, 228, 228);
  height: 40px;
  border-radius: 5px;
  shape-outside: -moz-linear-gradient();
}

.addnote button
{
  background-color: transparent; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 18px;
  margin-left: 740px;
  margin-top: -20px;
}

.panel
{
  background-color: bisque;
  margin-right: 87%;
  margin-top: 5%;
  border-radius: 2ch;
}

.panel a
{
  font-family: sans-serif;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.panel a:focus
{
  background-color: aquamarine;
}

li.nav-item {
  list-style-type: none;
  scroll-padding: 20px;
  
}

.pin
{
  flex-direction: row;
  align-self: flex-end;
}

.pinned-notes
{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,
      minmax(210px, 1fr));
  word-break: break-all;
  margin-top: 180px;
  margin-left: 280px;
}

.unpin
{
  flex-direction: row;
  align-self: flex-end;
}

.logout
{
  margin-left: 1400px;
  margin-top: -45px;
}

.top
{
  background-color: aquamarine;
  height: 50px;
  display: flex;
}


.left-bar
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 280px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: 60px;
  position: fixed;
  color: black;
}

.update-note input:focus {
  outline: none;
}

.update-note textarea:focus
{
  outline: none;
}

.update-note button:focus
{
  outline: none;
  cursor: pointer;
}

.update-note
{
  border: none;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: large;
  border-style: groove;
  border-radius: 8px;
}

.update-note input
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 10px;
}

.update-note textarea
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 8px;
}

.update-note button
{
  background-color: transparent;
  border: none;
}

.no-notes
{
  text-align: center;
  margin-top: 150px;
}


.svg_icons {
  transform: scale(15.8);
  margin-top: 200px;
}

.logo
{
  width: 5px;
  height: 5px;

}

.left-bar-1
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 250px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: -150px;
  position: fixed;
  color: black;
}