body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 50px;
  background-color: rgb(193, 154, 239);
  margin-top: 80px;
}

.offscreen {
  position: absolute;
}

.login {
  font-size: smaller;
  font-family: sans-serif;
  font-weight: 450;
}

.search input:focus {
  outline: none;
}


.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 200%;
  height: 30px;
}

.search {
  display: flex;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-left: 190px;
  width: 50%;
  align-items: center;
}


.notes
{
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-style: groove;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}


.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,
      minmax(250px, 1fr));
  word-break: break-all;
  margin-top: 140px;
  margin-left: 280px;
}

.option
{
  justify-content: end;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  display: flex
}

.dropdown
{
  background-color:transparent;
  height: 90px;
  width: 80px;
  display: block;
  margin-top: 40px;
  border-style: groove;
  position:fixed;
  font-family: sans-serif;
  cursor: pointer;
}

p.hover
{
  background-color: aqua;
}

.trash
{
  background-color: white;
  margin-left: 500px;
}


.addnote
{
  position: absolute;
  display: flex;
  margin-left: 230px;
  margin-top: 80px;
}

.addnote input:focus {
  outline: none;
  background-color: transparent;
}

.addnote input
{
  width: 500px;
  margin-left: 325px;
  border: none;
  background-color:rgb(231, 228, 228);
  height: 40px;
  border-radius: 5px;
  shape-outside: -moz-linear-gradient();
}

.addnote textarea
{
  width: 500px;
  margin-left: 325px;
  border: none;
  background-color:rgb(231, 228, 228);
  height: 40px;
  border-radius: 5px;
  shape-outside: -moz-linear-gradient();
}

.addnote button
{
  background-color: transparent; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 18px;
  margin-left: 740px;
  margin-top: -20px;
}

.panel
{
  background-color: bisque;
  margin-right: 87%;
  margin-top: 5%;
  border-radius: 2ch;
}

.panel a
{
  font-family: sans-serif;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.panel a:focus
{
  background-color: aquamarine;
}

li.nav-item {
  list-style-type: none;
  color: #000;
}

ul.side-bar
{
  color: #000;
  font-family: sans-serif;
}

.pin
{
  flex-direction: row;
  align-self: flex-end;
}

.pinned-notes
{
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill,
      minmax(170px, 1fr));
  word-break: break-all;
  margin-top: 180px;
}
.pinned-notes h6
{
  font-family: sans-serif;
  margin-left: 150%;
  margin-right: -100%;
}

.unpin
{
  flex-direction: row;
  align-self: flex-end;
}

.logout
{
  margin-left: 1400px;
  margin-top: -45px;
}

.top
{
  background-color: aquamarine;
  height: 50px;
  display: flex;
}


.left-bar
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 280px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: 60px;
  position: fixed;
}

.update-note input:focus {
  outline: none;
}

.update-note textarea:focus
{
  outline: none;
}

.update-note button:focus
{
  outline: none;
  cursor: pointer;
}

.update-note
{
  border: none;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: large;
  border-style: groove;
  border-radius: 8px;
}

.update-note input
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 10px;
}

.update-note textarea
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 8px;
}

.update-note button
{
  background-color: transparent;
  border: none;
}

.no-notes
{
  text-align: center;
  margin-top: 150px;
}


.logo
{
  width: 5px;
  height: 5px;

}

.left-bar-1
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 250px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: -150px;
  position: fixed;
  color: black;
}

.tab
{
  font-family: sans-serif;
  color: #000;
}

.notes-error
{
  text-align: center;
  font-family: sans-serif;
  margin-top: 300px;
}

.forgot-link
{
  font-family: sans-serif;
  font-size: smaller;
}

.forgot-password
{
  text-align: center;
  margin-top: 200px;
  border-style: groove;
  margin-right: 550px;
  margin-left: 550px;
  padding: 40px;
}

.forgot-password p
{
  margin-left: 160px;
  cursor: pointer;
  margin-top: 10px;
}

.user-dropdown
{
  border-style: groove;
  margin-left: -100px;
  text-align: center;
}

.user
{
  flex-direction: row;
  align-self: flex-end;
  margin-left: 95%;
  cursor:pointer;
  margin-top: -40px;
}

.note-page
{
  position:unset;
  overflow: hidden;
  font-family: sans-serif;
  width: auto;
  height: auto;
}

.reset
{
  border-style: groove;
  padding: 8px;
  text-align: center;
  margin-top: 25%;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
}

.reset button
{
  border-style: none;
  font-family: sans-serif;
  border-radius: 10px;
  margin-left: 10%;
  background-color: transparent;
}

.after-reset
{
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 45%;
  font-size: xx-large;
}

.invalid
{
  background-color: lightcoral;
}

.err
{
  color: red;
  font-size: x-small;
  margin-left: 10%;
  margin-right: 10%;
}

.colordropdown
{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 42px;
  cursor: pointer;
  margin-left: -500%;
}

.imgdropdown
{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 80px;
  cursor: pointer;
  margin-left: -500%;
}

.colordropdown p:hover
{
  border-color: #000;
  border-style: groove;
}

.imgdropdown p:hover
{
  border-color: #000;
  border-style: groove;
}

.img-circle
{
  margin-left: 10px;
}

.color-circle{
  margin-left: 10px;
  /* background-color: aquamarine */
}