body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 50px;
  background-color: rgb(193, 154, 239);
  margin-top: 80px;
}

.offscreen {
  position: absolute;
}

.login {
  font-size: smaller;
  font-family: sans-serif;
  font-weight: 450;
}

.search input:focus {
  outline: none;
}


.search input {
  border: none;
  background-color: rgb(235, 235, 235);
  width: 250%;
  font-size: medium;
  font-family: sans-serif;
}

.search {
  display: flex;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-left: 270px;
  width: 40%;
  height: 10%;
  align-items: center;
}


.notes
{
  border-radius: 8px;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-style: groove;
  font-family: sans-serif;

}


.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-left: 280px;
}

.option
{
  cursor: pointer;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 20px;
  display: flex;
}

.dropdown
{
  background-color:transparent;
  margin-top: 40px;
  position: absolute;
  font-family: sans-serif;
  cursor: pointer;
  border-style: groove;
  width: 80px;
  height: 40px;
  padding: 2px;
}

p.hover
{
  background-color: aqua;
}

.trash
{
  background-color: white;
  margin-left: 500px;
}


.addnote
{
  position: absolute;
  display: flex;
  margin-left: 490px;
  margin-top: 80px;
  border: none;
  resize: none;
  box-shadow: 2px 2px 2px 2px gainsboro;
  padding: 5px;
  border-radius: 2px;
}

.addnote input:focus {
  outline: none;
  background-color: transparent;
}

.addnote textarea:focus {
  outline: none;
  background-color: transparent;
}

.addnote input
{
  width: 500px;
  border: none;
  height: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: medium;
}

.addnote textarea
{
  width: 500px;
  border: none;
  position: static;
  resize: none;
  overflow: hidden;
  max-height: max-content;
  font-family: sans-serif;
  font-size: 14px;
}

.addnote button
{
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 18px;
  margin-left: 440px;
  margin-top: -20px;
}

.panel
{
  background-color: bisque;
  margin-right: 87%;
  margin-top: 5%;
  border-radius: 2ch;
}

.panel a
{
  font-family: sans-serif;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.panel a:focus
{
  background-color: aquamarine;
}

li.nav-item {
  list-style-type: none;
  color: #000;
}

.pin
{
  justify-content: flex-end;
  cursor: pointer;
}



.unpin
{
  flex-direction: row;
  align-self: flex-end;
  flex: auto;
  cursor: pointer;
}

.logout
{
  margin-left: 1400px;
  margin-top: -45px;
}

.top
{
  background-color: aquamarine;
  height: 50px;
  display: flex;
}

.options
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5px;
}


.left-bar
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 280px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: 60px;
  position: fixed;
}

.update-note input:focus {
  outline: none;
}

.update-note textarea:focus
{
  outline: none;
}

.update-note button:focus
{
  outline: none;
  cursor: pointer;
}

.update-note
{
  border: none;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: large;
  border-style: groove;
  border-radius: 8px;
  cursor: pointer;
}

.update-note input
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 10px;
}

.update-note textarea
{
  max-width: auto;
  max-height: auto;
  border: none;
  margin-left: 8px;
}

.update-note button
{
  background-color: transparent;
  border: none;
}

.no-notes
{
  text-align: center;
  margin-top: 150px;
}


.logo
{
  width: 5px;
  height: 5px;

}

.left-bar-1
{
  background-color: wheat;
  padding: 50px;
  height: 270px;
  width: 250px;
  border-radius: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  margin-top: -150px;
  position: fixed;
  color: black;
}

.tab
{
  font-family: sans-serif;
  color: #000;
}

.notes-error
{
  text-align: center;
  font-family: sans-serif;
  margin-top: 300px;
}

.forgot-link
{
  font-family: sans-serif;
  font-size: smaller;
}

.forgot-password
{
  text-align: center;
  margin-top: 200px;
  border-style: groove;
  margin-right: 550px;
  margin-left: 550px;
  padding: 40px;
}

.forgot-password p
{
  margin-left: 160px;
  cursor: pointer;
  margin-top: 10px;
}

.user-dropdown
{
  border-style: groove;
  margin-left: -100px;
  text-align: center;
}

.user
{
  flex-direction: row;
  align-self: flex-end;
  margin-left: 95%;
  cursor:pointer;
  margin-top: -40px;
}

.note-page
{
  position:unset;
  overflow: hidden;
  font-family: sans-serif;
  width: auto;
  height: auto;
}

.reset
{
  margin-left: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  border: none;
}

.reset button
{
  font-size: medium;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-style: groove;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.reset button:hover
{
  background-color: lightgreen;
}

.after-reset
{
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 45%;
  font-size: xx-large;
}

.invalid
{
  background-color: lightcoral;
}

.err
{
  color: red;
  font-size: x-small;
  margin-left: 10%;
  margin-right: 10%;
}


.colordropdown-update
{
  flex-direction: row;
  position: absolute;
  display: flex;
  margin-top: 44px;
  margin-left: -40%;
  cursor: pointer;
  border-style: groove;
  height: 80px;
  padding: 2px;
  transform: scale(1.2);
  background-color: lightgray;
}

.imgdropdown-update
{
  flex-direction: row;
  position: absolute;
  display: flex;
  margin-top: 44px;
  margin-left: -40%;
  cursor: pointer;
  border-style: groove;
  height: 80px;
  padding: 2px;
  transform: scale(1.2);
  background-color: lightgray;
}

.colordropdown
{
  flex-direction: row;
  position: absolute;
  display: flex;
  margin-top: 44px;
  margin-left: -270%;
  cursor: pointer;
  border-style: groove;
  height: 80px;
  padding: 2px;
  transform: scale(1.2);
  background-color: lightgray;
}

.imgdropdown
{
  flex-direction: row;
  position: absolute;
  display: flex;
  margin-top: 70px;
  margin-left: -270%;
  cursor: pointer;
  padding: 4px;
  transform: scale(1.2);
}

.bgs p:hover
{
  border-color: #000;
  border-style: groove;
}

.imgdropdown p:hover
{
  border-color: #000;
  border-style: groove;
}

.img-circle
{
  margin-left: 10px;
}



.color-circle{
  margin-left: 10px;
  /* background-color: aquamarine */
}

.reset_password_condition
{
  text-align: center;
  color: red;
}



.close-add
{
  text-align: right;
  font-family: sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.notes-list-column
{
  height: 20%;
  width: 40%;
  margin-left: 30%;
}

.notes-list-column h6
{
  margin-left: -90px;
}
